DATABASE_URL="postgresql://neondb_owner:npg_cLMyk3rOsE0X@ep-blue-flower-adgn3nwt-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="http://localhost:3000"  # غير مستخدم الآن
NEXTAUTH_SECRET="change-me"           # غير مستخدم الآن
ENABLE_AUTH=false                     # ثابت = false
AUTH_TRUST_HOST=true
BACKUP_PROVIDER=local
BACKUP_LOCAL_PATH=./backups
